{% load bootstrap_icons %}
<!-- Navbar -->
<div class="w3-top w3-text-white w3-black">
  <div class="w3-bar">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'courses:index' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{% url 'courses:student-list' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TEAM</a>
    <a href="{% url 'courses:language-list' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LANGUAGES</a>
    <a href="{% url 'courses:lesson-list' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SCHEDULE</a>
    <a href="{% url 'courses:level-list' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LEVELS</a>
    <input class="w3-bar-item w3-input w3-quarter w3-border w3-black w3-padding-large" type="search" placeholder="Search lesson...">
    <button class="w3-bar-item w3-button w3-border w3-teal w3-padding-large" type="submit">{% bs_icon 'search-heart' %} Search</button>
    {% if user.is_authenticated %}
    <button type="button" class="w3-bar-item w3-button w3-border w3-black w3-right w3-padding-large">
      <a href="{% url 'logout'%}?next={{request.path}}">{% bs_icon "box-arrow-right" %}</a>
    </button>
    <button class="w3-bar-item w3-button w3-border w3-black w3-right w3-padding-large" type="button">
      <a href="{{ user.get_absolute_url }}"> {% bs_icon "person-fill" %} {{ user.get_username }}</a>
    </button>
    {% else %}
    <button type="button" class="w3-bar-item w3-button w3-border w3-black w3-right w3-padding-large">
      <a href="{% url 'login'%}?next={{request.path}}">Login</a>
    </button>
    {% endif %}
  </div>
</div>

  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
    <a href="#service" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LANGUAGES</a>
    <a href="#testimony" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TESTIMONY</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  </div>
