{% if is_paginated %}
  <div class="w3-center">
  <div class="w3-bar">

    {% if page_obj.has_previous %}
      <a href="?page= {{ page_obj.previous_page_number }}" class="w3-button w3-hover-indigo">&laquo;</a>
      <a href="?page= {{ page_obj.previous_page_number }}" class="w3-button w3-hover-indigo">
        {{ page_obj.previous_page_number }}</a>
    {% else %}
      <a href="" class="w3-button w3-hover-indigo">&laquo;</a>
    {% endif %}
      <a href="" class="w3-button w3-indigo">{{ page_obj.number }}</a>
    {% if page_obj.has_next %}
      <a href="?page= {{ page_obj.next_page_number }}" class="w3-button w3-hover-indigo">
        {{ page_obj.next_page_number }}
      </a>
      <a href="?page= {{ page_obj.next_page_number }}" class="w3-button w3-hover-indigo">&raquo;</a>
    {% else %}
      <a href="" class="w3-button w3-hover-indigo">&raquo;</a>
    {% endif %}
  </div>
  </div>
  <br>
  <br>
{% endif %}
