{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>🤩 Best courses</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
<div class="sticky-xxl-top">
  {% block sidebar %}
    {% include "includes/navbar.html" %}
  {% endblock %}
  <br>

  {% block content %}{% endblock %}

  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}

</div>
</body>

</html>
