{% extends "base.html" %}

{% block content %}
  <h1 class="hero" style="height: 300px; text-align: center">
    Do you want to delete {{ language.name }} language?
  </h1>

  <div class="w3-content w3-padding-48" style="max-width: 40%">
    <div class="w3-row-padding">
      <div class="w3-half w3-container">
        <a href="{% url 'courses:language-detail' pk=language.pk %}">
          <button class="w3-button w3-indigo w3-left w3-block">No</button>
        </a>
      </div>
      <div class="w3-half w3-container">
        <form action="" method="post">
          {% csrf_token %}
            <input type="submit" value="Yes" class="w3-button w3-red w3-right">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
