{% extends "base.html" %}

{% block content %}
  <h1 class="hero" style="height: 300px; text-align: center; opacity: 80%">Common reference levels</h1>
  <div class="w3-container w3-center w3-margin">
  {% if level_list %}
    <table class="w3-table w3-large w3-dark-gray w3-border">
      <tr class="w3-center w3-indigo">
        <th class="w3-border">Level
          <a class="w3-right w3-text-light-blue" href="{% url 'courses:level-create' %}">+Add</a>
        </th>
        <th class="w3-border w3-center">Description</th>
        <th class="w3-border w3-center">Edit</th>
      </tr>

      {% for level in level_list %}
        {% if level.level != "A0" %}
        <tr class="w3-text-light-grey">
          <td class="w3-border">
              {{ level.level }}
          </td>
          <td class="w3-border">
              {{ level.description }}
          </td>
          <td class="w3-border w3-center">
              <a href="{% url 'courses:level-update' pk=level.pk %}" class="w3-button">
                Update
              </a>
              <a href="{% url 'courses:level-delete' pk=level.pk %}" class="w3-button">
                Delete
              </a>
          </td>
          {% endif %}
      {% endfor %}
    </table>
  {% else %}
    <p>There are no levels.</p>
  {% endif %}
  </div>
{% endblock %}
