{% extends "base.html" %}

{% block content %}
  <h1 class="title-h1">Common reference levels</h1>
  <div class="changelist-form-container">
  {% if level_list %}
    <table class="table table-hover">
      <tr class="table align-middle">
        <th class="th-align-center">Level</th>
        <th class="th-align-center">Description</th>
      </tr>

      {% for level in level_list %}
        <tr>
          <td>
              {{ level.level }}
          </td>
          <td>
              {{ level.description }}
          </td>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no levels.</p>
  {% endif %}
  </div>
{% endblock %}
