{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Students List
    <a href="{% url 'courses:student-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-light" type="submit" value="🔎">
    </form>
  <div class="changelist-form-container">
  {% if student_list %}
    {% for student in student_list %}
        <div>
          <p>{{ student.first_name }} {{ student.last_name }}</p>
        </div>
    {% endfor %}
  {% else %}
    <p>There are no students.</p>
  {% endif %}
  </div>
{% endblock %}
