{% extends "base.html" %}
{% load bootstrap_icons %}

{% block content %}
  <h1 class="hero" style="height: 300px; text-align: center">
    {{ student }}
  </h1>
  <h2 class="w3-center">{{ student.username }},
  {% if user.is_staff %}
    phone number: {{ student.phone_number }}
  {% endif %}
  </h2>
  {% if student.is_staff %}
    Teaches:{{ student.student_language.name }}
  {% else %}
    <p>Study: {{ student.student_language.name }} ({{ student.student_level }})</p>
  {% endif %}
  {% if student.username == user.username %}
    <a href="{% url 'courses:student-delete' pk=student.pk %}" class="btn btn-danger">
      Delete
    </a>
    <a href="" class="btn btn-secondary">
      Update
    </a>
  {% endif %}
  {% if student.username != user.username and user.is_staff %}
    <a href="{% url 'courses:student-delete' pk=student.pk %}" class="btn btn-danger">
      Delete
    </a>
  {% endif %}

  <br>
  <br>
  <h3>Lessons:
    {% if student.lessons.all %}
      <ul>
      {% for lesson in student.lessons.all %}
        <li>{{ lesson }}</li>
      {% endfor %}
      </ul>
    {% else %}
        There are no actual lessons yet
    {% endif %}
  </h3>

{% endblock %}
