{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="hero" style="height: 300px; text-align: center">
    OUR BEST TEAM
  </h1>
  <br>
  <div class="w3-row-padding">
    <div class="w3-threequarter">
      <div class="w3-container-padding">
        <form action="" method="get" class="form-inline">
          <div class="w3-container">
            <div class="w3-threequarter">{{ search_form|crispy }}</div>
            <input class="w3-button w3-green w3-left w3-margin-left" type="submit" value="Search">
          </div>
        </form>
      </div>
    </div>
    <div class="w3-quarter">
      <a href="{% url 'courses:student-create' %}" class="w3-button w3-indigo w3-right">
        + Add new person
      </a>
    </div>
  </div>
  <br>
  <div class="w3-row-padding">
  {% if student_list %}
    {% for student in student_list %}
      {% if student.is_staff %}
        <div class="w3-col s4 w3-margin-bottom">
          <div class="w3-card w3-blue-gray w3-xlarge w3-hover-teal w3-opacity-min" style="text-align: center; min-height: 200px">
            <a class="w3-text-white" href="{% url 'courses:student-detail' pk=student.pk %}">
              <p>Teacher</p>
              <p>{{ student.first_name }}</p><p>{{ student.last_name }}</p></a>
          </div>
        </div>
      {% else %}
        <div class="w3-col s4 w3-margin-bottom">
          <div class="w3-card w3-indigo w3-xlarge w3-hover-teal w3-opacity-min" style="text-align: center; min-height: 200px">
            <br>
            <a class="w3-text-white" href="{% url 'courses:student-detail' pk=student.pk %}">
              <p>{{ student.first_name }}</p><p>{{ student.last_name }}</p></a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>There are no students.</p>
  {% endif %}
  </div>
  <br>
  <br>
{% endblock %}
